/*
@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); // IE9 Compat Modes //
  src: url('webfont.eot?#iefix') format('embedded-opentype'), // IE6-IE8 //
       url('webfont.woff2') format('woff2'), // Super Modern Browsers //
       url('webfont.woff') format('woff'), // Pretty Modern Browsers //
       url('webfont.ttf')  format('truetype'), // Safari, Android, iOS //
       url('webfont.svg#svgFontName') format('svg'); // Legacy iOS //
}
*/

@font-face {
    font-family: allura;
    src: url("fonts/allura/Allura-Regular.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Segment7Standard;
    src: url("fonts/segment7/Segment7Standard.otf");
    font-weight: normal;
}

@font-face {
    font-family: liquid_crystal;
    src: url("fonts/liquid_crystal/LiquidCrystal-BoldItalic.otf"); 
    src: url("fonts/liquid_crystal/LiquidCrystal-ExBold.otf"); 
    src: url("fonts/liquid_crystal/LiquidCrystal-ExBoldItalic.otf"); 
    src: url("fonts/liquid_crystal/LiquidCrystal-Light.otf"); 
    src: url("fonts/liquid_crystal/LiquidCrystal-LightItalic.otf"); 
    src: url("fonts/liquid_crystal/LiquidCrystal-Normal.otf"); 
    src: url("fonts/liquid_crystal/LiquidCrystal-NormalItalic.otf"); 
    src: url("fonts/liquid_crystal/LiquidCrystal-Bold.otf");
    font-weight: normal;
}

@font-face {
    font-family: HussarBoldWeb;
    src: url("fonts/temp/kineticplasma-fonts_hussar-bold-web-edition/HussarBoldWeb.otf"); 
    font-weight: normal;
}

@font-face {
    font-family: HussarEkologiczne1;
    src: url("fonts/temp/kineticplasma-fonts_hussar-ekologiczny/HussarEkologiczne1.otf"); 
    font-weight: normal;
}

@font-face {
    font-family: Mechanical;
    src: url("fonts/temp/kineticplasma-fonts_mechanical/Mechanical.otf"); 
    font-weight: normal;
}

@font-face {
    font-family: SztyletBd;
    src: url("fonts/temp/plusone-fonts_sztylet/SztyletBd.otf"); 
    font-weight: normal;
}