/* common */
.change-opacity{
    /* These three lines are for transparency in all browsers. */
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";*/
    /* Opacity for IE8 and lower */
    /*filter: alpha(opacity=50);*/
    /* Opacity for Modern Browsers */
    /*opacity: 0.5;*/
}

.info-box-number{
    word-wrap: break-word !important;
}

.modal-body{
    word-wrap: break-word !important;
}

/* tooltip */
.tooltip{
    position: fixed;
    z-index: 999999999 !important;
}

/* treeview menu-open li */
.sidebar-menu li{
    padding-left: 0em !important;
}
.treeview.active.menu-open{
    padding-left: 0 !important;
}

/* backround color sidebar menu selected list item */
.sidebar-menu li.active{
    background-color: rgba(60,141,188, 0.3) !important;
}
.sidebar-menu>li.active>a {
    background-color: transparent !important;
}

/* datatable */
table.dataTable tbody td{
    word-break: break-word !important;
    vertical-align: top;
}

/*table td {
    transition: all .5s;
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}*/

.bg-green{
    background-color: rgba(34,139,34,1) !important;
    color: rgba(0, 0, 0, 1) !important;
}

.bg-red{
    background-color: rgba(128,0,0,1) !important;
    color: rgba(0, 0, 0, 1) !important;
}

.bg-yellow{
    background-color: rgba(255,190,0,1) !important;
    color: rgba(0, 0, 0, 1) !important;
}

.disabled_href{
    color: inherit;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
    text-decoration: none;
}

/* font-size */
.font-size-1-0{
    font-size: 1rem !important;
}

.font-size-1-5{
    font-size: 1.5rem !important;
}

.font-size-2-0{
    font-size: 2rem !important;
}

/* back-to-home-1 */
.back-to-home-1{
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    font-size: 2rem !important;
}

.dashboard-font-1{
    font-family: liquid_crystal !important;
}

/* card column count */
/*
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}
*/

/* element max-height */
.element-max-height-1{
    max-height: 45vh !important; /*1em*/
    overflow-y: scroll !important;
}

/* fullscreen-modal */
.modal-full{
    min-width: 100%;
    margin: 0;
}
.modal-full .modal-content{
    min-height: 100vh;
}