@font-face {
    font-family: allura;
    src: url(fonts/allura/Allura-Regular.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Segment7Standard;
    src: url(fonts/segment7/Segment7Standard.otf);
    font-weight: normal;
}